:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --border-color: #ccc;
    --popup-bg: #ffffff;
    --interactive-color: #003366;
    --selected-color: #003366;
    --table-header-bg: #cce5ff;
}
